<div class="wrapper">
    <div class="wrapped-div">
        <div class="tab-header row" style="margin-top:10px;font-size:35px;">
            <h2 class="col-md-6" routerLink='/user/login' routerLinkActive='active' style="text-align:right;">Sign In</h2>
            <h2 class="col-md-6" routerLink='/user/register' routerLinkActive='active' style="text-align:left;">Sign Up</h2>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<footer style="text-align:center;background: #9a9a9a;">
    <hr>
    <span style="margin-right:10px;">Developed by <a href="https://www.linkedin.com/in/majed-badawi-3b376a125/">@Majed Badawi</a></span><br>
</footer>